<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.restlet.jee.org.restlet.ext.servlet">
  <resources>
    <artifact name="${org.restlet.jee:org.restlet.ext.servlet}" />
  </resources>
  <dependencies>
    <module name="javax.servlet.api" />
    <module name="org.restlet.jee.org.restlet" />
  </dependencies>
</module>
