<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.milo">
  <resources>
    <artifact name="${org.apache.camel:camel-milo}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.eclipse.milo" export="true">
      <exports>
        <include path="org/eclipse/milo/opcua/stack/core/types/builtin**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
