<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.typesafe.akka.akka-actor_2.10">
  <resources>
    <artifact name="${com.typesafe.akka:akka-actor_2.10}" />
  </resources>
  <dependencies>
    <module name="com.typesafe.config" />
    <module name="org.scala.library" />
  </dependencies>
</module>
