<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.flink">
  <resources>
    <artifact name="${org.apache.camel:camel-flink}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.flink" export="true">
      <exports>
        <include path="org/apache/flink/api**" />
        <include path="org/apache/flink/streaming/api**" />
        <exclude path="contribs/mx**" />
        <exclude path="org/apache/flink**" />
        <exclude path="org/apache/hadoop**" />
        <exclude path="org/jets3t**" />
        <exclude path="webapps**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.scala.library" />
  </dependencies>
</module>
