<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.esotericsoftware.kryo">
  <resources>
    <artifact name="${com.esotericsoftware.kryo:kryo}" />
  </resources>
  <dependencies>
    <module name="com.esotericsoftware.minlog" />
    <module name="org.objenesis" />
  </dependencies>
</module>
